


body {
  background: #fff;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 26rem;
}


.main-text {
  margin-top: 4rem;
  color: white;
  font-weight: 700;
  font-size: 4rem;
}

.main-text-two {
  color: white;
  font-weight: bold;
}

.header-form {
  width: 30rem;
  height: 25rem;
  padding: 2rem;
  margin-left: 2rem;
  margin-top: -6rem;
  background: #314B5A;
  color: white;

}

.header-form-inner {
  margin-left: 1.5rem;
}

.h1-form {
  margin-top: 2rem;
  font-weight: 700;
}

.p-form {
  font-weight: bold;
}

.form-button {
  background-color: #CC2A36;
  border-color: #CC2A36 !important;
  font-weight: bold;
  margin-right: 7rem;
}

.form-button:hover,
.form-button:focus,
.form-button:active,
.form-button:active,
.open>.dropdown-toggle..form-button
 {
    color: white;
    background-color: #CC2A36;
    border-color: #CC2A36;
}

.big-ol-btn {
  padding: 1rem;
  width: 100%;
  background-color: #314B5A;
  text-align: center;
  color: white;
}

.big-ol-btn:hover,
.form-button:focus,
.big-ol-btn:active,
.big-ol-btn:active,
.open>.dropdown-toggle..big-ol-btn {
    color: white;
    background-color: #314B5A;
    border-color: #314B5A;
}

#top-input-one{
  margin-bottom: 1rem;

}

#top-input-two{

}


.h1-footer {
  padding: 2rem;
  margin-top: 2rem;
  font-weight: lighter;
}

.container-bottom {
  margin-left: 2rem;
}

.barcelona {
  margin-top: -2rem;
  margin-left: -1rem;
  padding: 3rem;
  color: #3d4447;
}

#barcelona {
  color: #314B5A;
}
